<h1><%= @todo_list.title %></h1>

<div class="row">
  <div class="col-sm-5">
  <% @tasks.each do |task| %>
    <% if @not_completed %>

        <div class="card">
          <div class="card-body">
            <%= task.description %>
            <%= link_to 'Complete', completed_todo_list_task_path(@todo_list, task), method: :patch %>
          </div>
        </div>

    <% end %>
  <% end %>
    <div class="card">
      <div class="card-body">
      <%= render 'new_task' %>
      </div>
    </div>
  </div>
</div>
