<h1><%= @todo_list.title %></h1>

<div class="row">
  <div class="col-sm-6">
    <ul class="list-group">
      <% @tasks.each do |task| %>
        <% if @not_completed %>
          <div class="col-sm-6">
            <li class="list-group-item"><%= task.description %></li>
          </div>
          <div class="col-sm-6">
            <%= link_to 'Complete', completed_todo_list_task_path(@todo_list, task), method: :patch %>
          </div>
        <% end %>
      <% end %>
      <li><%= render 'new_task' %></li>
    </ul>
  </div>
</div>
